<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funnyfractions.game" >


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="sensorLandscape">
        <activity
            android:name="androidlogic.login.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/loginTheme"
            android:screenOrientation="sensorLandscape"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="androidlogic.login.Registro"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity android:name="androidlogic.login.Recupera"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity android:name=".tutorials.AndroidLauncher2"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity android:name="androidlogic.home.Home"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/loginTheme">

        </activity>
        <activity android:name="androidlogic.tutorials.Tutorial"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity android:name="androidlogic.tutorials.TutorialDivision"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity android:name="androidlogic.tutorials.TutorialMultiplicacion"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity android:name="androidlogic.tutorials.TutorialQueSon"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity android:name="androidlogic.tutorials.TutorialResta"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity android:name="androidlogic.tutorials.TutorialSuma"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity android:name="androidlogic.practice.Practica"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity android:name="androidlogic.evaluacion.EvaluacionActivity"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity android:name="androidlogic.games.archery_game.MainMenu"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="androidlogic.games.archery_game.Levels"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity android:name="androidlogic.games.archery_game.MenuArcheryActivity"
            android:screenOrientation="sensorLandscape">
        </activity>

        <activity android:name="bateria.EjecutableBateria"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity android:name="burbujas.BubblesMain"
            android:screenOrientation="portrait"/>
        <activity android:name="burbujas.GameOver"
            android:screenOrientation="portrait"/>
        <activity android:name="gotas.AndroidLauncher"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity android:name="gotas.Menu"
            android:screenOrientation="sensorLandscape">
        </activity>

        <activity android:name="burbujas.MenuMultiplicacion"
            android:screenOrientation="portrait">
        </activity>
            
    </application>

</manifest>
